In [1]:
%ls

datasets/  README.md  requirements.txt  Untitled.ipynb

In [2]:
import pandas as pd

In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 3.8 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.1 MB/s
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
df= pd.read_excel('mic2.xlsx',
                  engine= 'openpyxl')
df.head()

,Age,Sex,Ocupation,Monthly income,Price,Quality,Quantity,Availability,Taste,Flavours,...,Overal satisfaction,Consistency,Factor,Frowned,reason,Popular,My favorite,Kind,Preference,Recommend
0,31,Male,Research,">40, 000",5,5,5,4,4,5,...,4,4,Taste,No,NaN,Combo_VLM,Chocolate,More than one flavoured,agree,agree
1,25,Male,student,"<10,000",3,5,3,4,5,5,...,4,4,Taste,No,Quantity issues,Combo_VCS,Chocolate,More than one flavoured,neutral,neutral
2,45,Female,Teaching,">40, 000",3,4,4,4,3,4,...,4,4,Taste,No,NaN,Combo_VCS,Caramel,More than one flavoured,disagree,neutral
3,27,Male,Student,"<10,000",5,5,3,4,5,5,...,4,4,Taste,No,NaN,Combo_VCS,Strawbery,More than one flavoured,agree,agree
4,23,Female,Tutor,"10,000 - 20,000",5,5,4,4,5,5,...,5,5,Quality,No,NaN,Combo_VCS,Vanila,single flavoured,agree,Strongly agree

In [8]:
def custom_cls(x):
    if (0<= x <=20):
        return '<=20'
    elif(21<= x <=30): 
        return '21-30'
    elif(31<= x <=40): 
        return '31-40'
    else:
        return '>=40'

In [9]:
df['AgeGP'] = df.apply(lambda tbl: custom_cls(tbl['Age']), axis=1)
df.head(2)

,Age,Sex,Ocupation,Monthly income,Price,Quality,Quantity,Availability,Taste,Flavours,...,Consistency,Factor,Frowned,reason,Popular,My favorite,Kind,Preference,Recommend,AgeGP
0,31,Male,Research,">40, 000",5,5,5,4,4,5,...,4,Taste,No,NaN,Combo_VLM,Chocolate,More than one flavoured,agree,agree,31-40
1,25,Male,student,"<10,000",3,5,3,4,5,5,...,4,Taste,No,Quantity issues,Combo_VCS,Chocolate,More than one flavoured,neutral,neutral,21-30

In [15]:
counts = df['AgeGP'].value_counts()
counts = counts.to_frame()
type(counts)

pandas.core.frame.DataFrame

In [16]:
counts['%'] = (counts.iloc[:,:]/counts.loc[:,'AgeGP'].sum(axis=0))*100
counts

       AgeGP     %
21-30     31  62.0
<=20      11  22.0
31-40      5  10.0
>=40       3   6.0

In [18]:
counts = counts.reindex(['<=20','21-30','31-40','>=40'])
counts = counts.reset_index()
counts

   index  AgeGP     %
0   <=20     11  22.0
1  21-30     31  62.0
2  31-40      5  10.0
3   >=40      3   6.0

In [19]:
counts = counts.rename({'index':'Age_Group','AgeGP':'Age'},
                       axis = 1)
counts

  Age_Group  Age     %
0      <=20   11  22.0
1     21-30   31  62.0
2     31-40    5  10.0
3      >=40    3   6.0

In [ ]:
counts['Age_Group'].plot(kind = 'pie')